<template name="days">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Days</h3>
    </div>
    <div class="panel-body">
      {{> day}}
    </div>
  </div>
</template>

<template name="day">
  <div class="row">
    <div class="col-md-12 day {{selected}}">
      All
    </div>
  </div>
  {{#each days}}
    <div class="row" id="{{day}}">
      <div class="col-md-6 col-xs-6 day {{selected}}">
        {{day}}
      </div>
      <div class="col-md-3 col-xs-3 {{selected}}">
        {{intime}}
      </div>
      <div class="col-md-3 col-xs-3 {{selected}}">
        {{outtime}}
      </div>
    </div>
  {{/each}}
</template>
